In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

In [2]:
# Prints 5 random samples
sample=data.sample(5)
sample

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
25042,885220,Neon Cat Tickler,Petcom ltd.,Petcom ltd.,NaN,1,0,0,"0 .. 20,000",0,0,0,0,99.0,99.0,0.0,English,"Action, Adventure, Casual, Indie",0,"{'Action': 21, 'Indie': 21, 'Casual': 21, 'Adv..."
18331,701910,Dawn of a Soul,Waldemar Umaniz,Waldemar Umaniz,NaN,13,0,0,"0 .. 20,000",0,0,0,0,299.0,299.0,0.0,"English, German, Spanish - Spain, Portuguese -...","Casual, Indie",0,"{'Indie': 22, 'Casual': 22, 'Puzzle': 5}"
12303,537660,Brumm,eiloware,eiloware,NaN,4,2,0,"0 .. 20,000",0,0,0,0,599.0,599.0,0.0,English,Racing,0,{'Racing': 23}
866,39530,Painkiller: Black Edition,People Can Fly,THQ Nordic,NaN,449,55,0,"200,000 .. 500,000",478,0,570,0,999.0,999.0,0.0,"English, French, German, Spanish - Spain",Action,13,"{'Gore': 43, 'Action': 39, 'FPS': 23, 'Great S..."
10107,477870,Yomawari: Night Alone / 夜廻,"Nippon Ichi Software, Inc.","NIS America, Inc.",NaN,728,184,0,"50,000 .. 100,000",0,0,0,0,1999.0,1999.0,0.0,"English, Japanese","Adventure, Strategy",6,"{'Adventure': 63, 'Horror': 62, 'Cute': 50, 'F..."

In [3]:
# Checks how big our data is (columns, rows)
data.shape

(29235, 20)

In [4]:
# Shows column names
data.columns

Index(['appid', 'name', 'developer', 'publisher', 'score_rank', 'positive',
       'negative', 'userscore', 'owners', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'discount',
       'languages', 'genre', 'ccu', 'tags'],
      dtype='object')

In [5]:
data.values

array([[10, 'Counter-Strike', 'Valve', ..., 'Action', 14923,
        '{\'Action\': 2681, \'FPS\': 2048, \'Multiplayer\': 1659, \'Shooter\': 1420, \'Classic\': 1344, \'Team-Based\': 943, \'First-Person\': 799, \'Competitive\': 790, \'Tactical\': 734, "1990\'s": 564, \'e-sports\': 550, \'PvP\': 480, \'Military\': 367, \'Strategy\': 329, \'Score Attack\': 200, \'Survival\': 192, \'Old School\': 164, \'Assassin\': 151, \'1980s\': 144, \'Violent\': 40}'],
       [20, 'Team Fortress Classic', 'Valve', ..., 'Action', 87,
        '{\'Action\': 208, \'FPS\': 188, \'Multiplayer\': 172, \'Classic\': 152, \'Shooter\': 134, \'Class-Based\': 124, \'Team-Based\': 115, \'First-Person\': 109, "1990\'s": 71, \'Co-op\': 62, \'Competitive\': 48, \'Old School\': 46, \'Fast-Paced\': 39, \'Online Co-Op\': 28, \'Retro\': 27, \'Remake\': 27, \'Violent\': 26, \'Mod\': 24, \'Funny\': 20, \'Adventure\': 15}'],
       [30, 'Day of Defeat', 'Valve', ..., 'Action', 130,
        "{'FPS': 138, 'World War II': 122, 'Multiplayer': 115, 'Action': 99, 'Shooter': 95, 'War': 80, 'Team-Based': 79, 'Classic': 61, 'Class-Based': 55, 'First-Person': 50, 'Historical': 28, 'Military': 19, 'Singleplayer': 16, 'Tactical': 14, 'Co-op': 12, 'World War I': 5}"],
       ...,
       [1065650, 'Super Star Blast', 'EntwicklerX', ...,
        'Action, Casual, Indie', 0,
        "{'Action': 21, 'Indie': 21, 'Casual': 21}"],
       [1066700, 'New Yankee 7: Deer Hunters', 'Yustas Game Studio', ...,
        'Adventure, Casual, Indie', 1,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"],
       [1069460, 'Rune Lord', 'Adept Studios GD', ...,
        'Adventure, Casual, Indie', 4,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"]], dtype=object)

In [6]:
# Shows info about our columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29235 entries, 0 to 29234
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            29235 non-null  int64
 1   name             29230 non-null  object
 2   developer        29037 non-null  object
 3   publisher        28939 non-null  object
 4   score_rank       58 non-null     float64
 5   positive         29235 non-null  int64
 6   negative         29235 non-null  int64
 7   userscore        29235 non-null  int64
 8   owners           29235 non-null  object
 9   average_forever  29235 non-null  int64
 10  average_2weeks   29235 non-null  int64
 11  median_forever   29235 non-null  int64
 12  median_2weeks    29235 non-null  int64
 13  price            29206 non-null  float64
 14  initialprice     29213 non-null  float64
 15  discount         29213 non-null  float64
 16  languages        29141 non-null  object
 17  genre            29083 non-null  object
 18  ccu              29235 non-null  int64
 19  tags             29235 non-null  object
dtypes: float64(4), int64(9), object(7)
memory usage: 4.5+ MB

In [7]:
# Deletes median_2weeks, average_2weeks and userscore and score_rank
del data['median_2weeks']
del data['average_2weeks']
del data['userscore']
del data['score_rank']

In [8]:
# Prints the percentage of missing data
missing_count = data.isnull().sum()

total_data=np.product(data.shape)
total_missing=missing_count.sum()
per_of_missing_data=(total_missing/total_data)* 100
print("The percent of data missing is:" ,per_of_missing_data,"%")


# Checks the non null values in column score_rank
NotNullValues = data["score_rank"].notnull()
ColumnSR = data.loc[NotNullValues,"score_rank"]
print("Amount of non null columns: ", len(ColumnSR))

The percent of data missing is: 6.035271984627612 %
Amount of non null columns:  58

In [9]:
#Checks for duplicate data
dups = data.duplicated()
dups

0        False
1        False
2        False
3        False
4        False
         ...
29230    False
29231    False
29232    False
29233    False
29234    False
Length: 29235, dtype: bool

In [10]:
# Prints number of duplicate rows
duplicates = data.duplicated()
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

# Nominal Attribute
# Selected 'name', 'developer', 'publisher', 'genre', 'languages' as nominal attributes.
# These columns represent categorical information without a specific order, essential for categorization and grouping.

In [11]:
# Assuming 'name', 'developer', 'publisher', 'genre', 'languages' columns are nominal attributes
nominal_attributes_values = data[['name', 'developer', 'publisher', 'genre', 'languages']]
print("Nominal Attributes:")
print(nominal_attributes_values)

Nominal Attributes:
                             name           developer             publisher  \
0                  Counter-Strike               Valve                 Valve
1           Team Fortress Classic               Valve                 Valve
2                   Day of Defeat               Valve                 Valve
3              Deathmatch Classic               Valve                 Valve
4       Half-Life: Opposing Force    Gearbox Software                 Valve
...                           ...                 ...                   ...
29230             Room of Pandora         SHEN JIAWEI           SHEN JIAWEI
29231                   Cyber Gun      Semyon Maximov      BekkerDev Studio
29232            Super Star Blast         EntwicklerX           EntwicklerX
29233  New Yankee 7: Deer Hunters  Yustas Game Studio  Alawar Entertainment
29234                   Rune Lord    Adept Studios GD  Alawar Entertainment

                          genre  \
0                        Action
1                        Action
2                        Action
3                        Action
4                        Action
...                         ...
29230  Adventure, Casual, Indie
29231  Action, Adventure, Indie
29232     Action, Casual, Indie
29233  Adventure, Casual, Indie
29234  Adventure, Casual, Indie

                                               languages
0      English, French, German, Italian, Spanish - Sp...
1      English, French, German, Italian, Spanish - Sp...
2      English, French, German, Italian, Spanish - Spain
3      English, French, German, Italian, Spanish - Sp...
4                        English, French, German, Korean
...                                                  ...
29230  English, Japanese, Simplified Chinese, Traditi...
29231                                            English
29232                                            English
29233                   English, German, Korean, Russian
29234  English, French, Italian, German, Spanish - Sp...

[29235 rows x 5 columns]

# Binary Attribute
# 'price' is selected for 'free_game' as it follows industry standards, where a price of 0 indicates a free game. 
# This simplifies the classification, aiding in analyzing game pricing trends and user preferences.

In [12]:
# Assuming 'price' column is used to create a binary attribute for free games
data['free_game'] = data['price'].apply(lambda x: 1 if x == 0 else 0)

# Print the unique values in the binary attribute
unique_values = data['free_game'].unique()
print("Binary Attribute Unique Values:")

# Count the number of free and non-free games
free_game_counts = data['free_game'].value_counts()

# Print the result
print("\nNumber of Non-Free Games (Class 0):", free_game_counts[0])
print("Number of Free Games (Class 1):", free_game_counts[1])

Binary Attribute Unique Values:

Number of Non-Free Games (Class 0): 25583
Number of Free Games (Class 1): 3652

In [ ]:
#checking the dataframes in order

data_sorted = data.sort_values(by='price', ascending=False)  # Sort in descending order
data_sorted

In [ ]:
# Creating bins for 'price' column
bins = [0, 500, 1000, 5000, 10000, 60000]

# lets create lables for each bin
labels = ['Very low', 'Low', 'Medium', 'High', 'Very High']

# we will use cut function to bin
data['cost'] = pd.cut(data['price'], bins=bins, labels=labels, right=False)

# Get the list of categories
categories_list = data['cost'].cat.categories.tolist()
print(categories_list)

# Count the values in each bin
bin_counts = data['cost'].value_counts()
print(bin_counts)

In [ ]:
# Creating bins for 'price column
bins = [0, 1000,  , 8000, 10000, 20000]

# lets create lables for each bin
labels = ['Very low', 'Low', 'Medium', 'High', 'Very High']

# we will use cut function to bin
data['Popularity'] = pd.cut(data['positive'], bins=bins, labels=labels, right=False)

# Get the list of categories
categories_list = data['Popularity'].cat.categories.tolist()
print(categories_list)

# Count the values in each bin
bin_counts = data['Popularity'].value_counts()
print(bin_counts)