In [43]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

# Prints the first 5 entries of our data
data.head(5)

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,NaN,124534,3339,0,"10,000,000 .. 20,000,000",17612,709,317,26,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,14923,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,NaN,3318,633,0,"5,000,000 .. 10,000,000",277,15,62,15,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,87,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,NaN,3416,398,0,"5,000,000 .. 10,000,000",187,0,34,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,130,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,NaN,1273,267,0,"5,000,000 .. 10,000,000",258,0,184,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,4,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,NaN,5250,288,0,"5,000,000 .. 10,000,000",624,0,415,0,499.0,499.0,0.0,"English, French, German, Korean",Action,71,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

In [46]:
# Checks how big our data is (columns, rows)
data.shape

(29235, 20)

In [47]:
# Shows column names
data.columns

Index(['appid', 'name', 'developer', 'publisher', 'score_rank', 'positive',
       'negative', 'userscore', 'owners', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'discount',
       'languages', 'genre', 'ccu', 'tags'],
      dtype='object')

In [48]:
data.values

array([[10, 'Counter-Strike', 'Valve', ..., 'Action', 14923,
        '{\'Action\': 2681, \'FPS\': 2048, \'Multiplayer\': 1659, \'Shooter\': 1420, \'Classic\': 1344, \'Team-Based\': 943, \'First-Person\': 799, \'Competitive\': 790, \'Tactical\': 734, "1990\'s": 564, \'e-sports\': 550, \'PvP\': 480, \'Military\': 367, \'Strategy\': 329, \'Score Attack\': 200, \'Survival\': 192, \'Old School\': 164, \'Assassin\': 151, \'1980s\': 144, \'Violent\': 40}'],
       [20, 'Team Fortress Classic', 'Valve', ..., 'Action', 87,
        '{\'Action\': 208, \'FPS\': 188, \'Multiplayer\': 172, \'Classic\': 152, \'Shooter\': 134, \'Class-Based\': 124, \'Team-Based\': 115, \'First-Person\': 109, "1990\'s": 71, \'Co-op\': 62, \'Competitive\': 48, \'Old School\': 46, \'Fast-Paced\': 39, \'Online Co-Op\': 28, \'Retro\': 27, \'Remake\': 27, \'Violent\': 26, \'Mod\': 24, \'Funny\': 20, \'Adventure\': 15}'],
       [30, 'Day of Defeat', 'Valve', ..., 'Action', 130,
        "{'FPS': 138, 'World War II': 122, 'Multiplayer': 115, 'Action': 99, 'Shooter': 95, 'War': 80, 'Team-Based': 79, 'Classic': 61, 'Class-Based': 55, 'First-Person': 50, 'Historical': 28, 'Military': 19, 'Singleplayer': 16, 'Tactical': 14, 'Co-op': 12, 'World War I': 5}"],
       ...,
       [1065650, 'Super Star Blast', 'EntwicklerX', ...,
        'Action, Casual, Indie', 0,
        "{'Action': 21, 'Indie': 21, 'Casual': 21}"],
       [1066700, 'New Yankee 7: Deer Hunters', 'Yustas Game Studio', ...,
        'Adventure, Casual, Indie', 1,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"],
       [1069460, 'Rune Lord', 'Adept Studios GD', ...,
        'Adventure, Casual, Indie', 4,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"]], dtype=object)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29235 entries, 0 to 29234
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            29235 non-null  int64
 1   name             29230 non-null  object
 2   developer        29037 non-null  object
 3   publisher        28939 non-null  object
 4   score_rank       58 non-null     float64
 5   positive         29235 non-null  int64
 6   negative         29235 non-null  int64
 7   userscore        29235 non-null  int64
 8   owners           29235 non-null  object
 9   average_forever  29235 non-null  int64
 10  average_2weeks   29235 non-null  int64
 11  median_forever   29235 non-null  int64
 12  median_2weeks    29235 non-null  int64
 13  price            29206 non-null  float64
 14  initialprice     29213 non-null  float64
 15  discount         29213 non-null  float64
 16  languages        29141 non-null  object
 17  genre            29083 non-null  object
 18  ccu              29235 non-null  int64
 19  tags             29235 non-null  object
dtypes: float64(4), int64(9), object(7)
memory usage: 4.5+ MB

In [30]:
# Prints 5 random samples
sample=data.sample(5)
sample

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
23424,840980,Exoder,Fever Dream Gameworks,Fever Dream Gameworks,NaN,9,0,0,"0 .. 20,000",0,0,0,0,799.0,799.0,0.0,English,"Action, Indie",0,"{'Action': 21, 'Indie': 21, 'Platformer': 11, ..."
17048,670290,Real Pool 3D - Poolians,Poolians.com,ThankGame.com,NaN,612,236,0,"200,000 .. 500,000",106,8,187,8,0.0,0.0,0.0,English,"Casual, Free to Play, Indie, Simulation, Sports",58,"{'Free to Play': 52, 'Simulation': 34, 'Sports..."
22031,800580,Highway Wars,Hosted Games,Hosted Games,NaN,7,4,0,"0 .. 20,000",0,0,0,0,399.0,399.0,0.0,English,"Adventure, Indie, RPG",0,"{'Adventure': 21, 'RPG': 20, 'Indie': 20, 'Tex..."
26594,938480,The Savior's Gang,Catness Game Studios,Catness Game Studios,NaN,24,4,0,"0 .. 20,000",0,0,0,0,499.0,499.0,0.0,"English, Spanish - Spain","Adventure, Casual, Indie, Simulation, Strategy",0,"{'Casual': 23, 'Adventure': 21, 'Violent': 21,..."
20802,768180,Truck Driver,Triangle Studios,SOEDESCO Publishing,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,"English, French, Italian, German, Spanish - Sp...","Adventure, Simulation",0,[]

In [51]:
# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

# Prints the percentage of missing data
missing_count = data.isnull().sum()

total_data=np.product(data.shape)
total_missing=missing_count.sum()
per_of_missing_data=(total_missing/total_data)* 100
print("The percent of data missing is:" ,per_of_missing_data,"%")

# Checks how big our data is (columns, rows)
#data.shape
# Prints the first 5 entries of our data
#data.head(5)

# Checks the non null values in column score_rank
b = data["score_rank"].notnull()
a = data.loc[b,"score_rank"]
print("Amount of non null columns: ", len(a))
print(a)

The percent of data missing is: 5.12998118693347 %
Amount of non null columns:  58
562      100.0
6257      95.0
9570      97.0
10906     95.0
11865     96.0
12571     94.0
12990     97.0
13167    100.0
13732    100.0
14294     94.0
14435     98.0
14811     94.0
15940    100.0
17390     96.0
17563     97.0
17564     96.0
17565     96.0
18681     94.0
18765     96.0
19157    100.0
19279     97.0
19635     93.0
21655     96.0
22884     94.0
22930     98.0
24459    100.0
25272     97.0
25437     96.0
25642     96.0
25694     95.0
25823    100.0
25898     96.0
25927     99.0
26071     97.0
26077     98.0
26173     94.0
26259     98.0
26267     97.0
26280     98.0
26311     95.0
26312     97.0
26313     96.0
26495    100.0
26539     97.0
26564     98.0
26828     95.0
27132     98.0
27208     99.0
27212    100.0
27234     97.0
27335    100.0
27355     95.0
27557     97.0
27740     99.0
28055     95.0
28267    100.0
28455    100.0
28505     96.0
Name: score_rank, dtype: float64

In [56]:
df = pd.DataFrame(data)

# Define a function to convert the range to the start value
def convert_to_start_value(range_str):
    if ".." in range_str:
        return int(range_str.split("..")[0].replace(',', ''))
    else:
        return None  # Handle the case where the string is empty

# Apply the function to the 'owners' column and replace it
df['owners'] = df['owners'].apply(convert_to_start_value)

# Rename the column to 'start_value' if needed
df = df.rename(columns={'owners': 'start_value'})

print(df)

         appid                        name           developer  \
0           10              Counter-Strike               Valve
1           20       Team Fortress Classic               Valve
2           30               Day of Defeat               Valve
3           40          Deathmatch Classic               Valve
4           50   Half-Life: Opposing Force    Gearbox Software
...        ...                         ...                 ...
29230  1065230             Room of Pandora         SHEN JIAWEI
29231  1065570                   Cyber Gun      Semyon Maximov
29232  1065650            Super Star Blast         EntwicklerX
29233  1066700  New Yankee 7: Deer Hunters  Yustas Game Studio
29234  1069460                   Rune Lord    Adept Studios GD

                  publisher  score_rank  positive  negative  userscore  \
0                     Valve         NaN    124534      3339          0
1                     Valve         NaN      3318       633          0
2                     Valve         NaN      3416       398          0
3                     Valve         NaN      1273       267          0
4                     Valve         NaN      5250       288          0
...                     ...         ...       ...       ...        ...
29230           SHEN JIAWEI         NaN         3         0          0
29231      BekkerDev Studio         NaN         8         1          0
29232           EntwicklerX         NaN         0         1          0
29233  Alawar Entertainment         NaN         2         0          0
29234  Alawar Entertainment         NaN         4         0          0

       start_value  average_forever  average_2weeks  median_forever  \
0         10000000            17612             709             317
1          5000000              277              15              62
2          5000000              187               0              34
3          5000000              258               0             184
4          5000000              624               0             415
...            ...              ...             ...             ...
29230            0                0               0               0
29231            0                0               0               0
29232            0                0               0               0
29233            0                0               0               0
29234            0                0               0               0

       median_2weeks  price  initialprice  discount  \
0                 26  999.0         999.0       0.0
1                 15  499.0         499.0       0.0
2                  0  499.0         499.0       0.0
3                  0  499.0         499.0       0.0
4                  0  499.0         499.0       0.0
...              ...    ...           ...       ...
29230              0  254.0         299.0      15.0
29231              0  119.0         199.0      40.0
29232              0  424.0         499.0      15.0
29233              0  699.0         699.0       0.0
29234              0  559.0         699.0      20.0

                                               languages  \
0      English, French, German, Italian, Spanish - Sp...
1      English, French, German, Italian, Spanish - Sp...
2      English, French, German, Italian, Spanish - Spain
3      English, French, German, Italian, Spanish - Sp...
4                        English, French, German, Korean
...                                                  ...
29230  English, Japanese, Simplified Chinese, Traditi...
29231                                            English
29232                                            English
29233                   English, German, Korean, Russian
29234  English, French, Italian, German, Spanish - Sp...

                          genre    ccu  \
0                        Action  14923
1                        Action     87
2                        Action    130
3                        Action      4
4                        Action     71
...                         ...    ...
29230  Adventure, Casual, Indie      0
29231  Action, Adventure, Indie      1
29232     Action, Casual, Indie      0
29233  Adventure, Casual, Indie      1
29234  Adventure, Casual, Indie      4

                                                    tags
0      {'Action': 2681, 'FPS': 2048, 'Multiplayer': 1...
1      {'Action': 208, 'FPS': 188, 'Multiplayer': 172...
2      {'FPS': 138, 'World War II': 122, 'Multiplayer...
3      {'Action': 85, 'FPS': 71, 'Multiplayer': 58, '...
4      {'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si...
...                                                  ...
29230  {'Adventure': 21, 'Indie': 21, 'Casual': 21, '...
29231  {'Action': 21, 'Indie': 21, 'Adventure': 20, '...
29232          {'Action': 21, 'Indie': 21, 'Casual': 21}
29233       {'Indie': 21, 'Casual': 21, 'Adventure': 20}
29234       {'Indie': 21, 'Casual': 21, 'Adventure': 20}

[29235 rows x 20 columns]

In [64]:
df.sort_values('start_value', ascending=False)

,appid,name,developer,publisher,score_rank,positive,negative,userscore,start_value,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
22,570,Dota 2,Valve,Valve,NaN,863507,142079,0,100000000,23944,1544,801,1169,0.0,0.0,0.0,"Bulgarian, Czech, Danish, Dutch, English, Finn...","Action, Free to Play, Strategy",742725,"{'Free to Play': 25176, 'MOBA': 8830, 'Strateg..."
13888,578080,PLAYERUNKNOWN'S BATTLEGROUNDS,PUBG Corporation,PUBG Corporation,NaN,496184,487076,0,50000000,22938,1011,12434,427,2999.0,2999.0,0.0,"English, Korean, Simplified Chinese, French, G...","Action, Adventure, Massively Multiplayer",733670,"{'Survival': 8360, 'Shooter': 6965, 'Multiplay..."
25,730,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,NaN,2644404,402313,0,50000000,22494,957,6502,325,0.0,0.0,0.0,"Czech, Danish, Dutch, English, Finnish, French...","Action, Free to Play",507652,"{'FPS': 20508, 'Multiplayer': 16566, 'Shooter'..."
19,440,Team Fortress 2,Valve,Valve,NaN,515879,34036,0,20000000,8495,751,623,495,0.0,0.0,0.0,"English, Danish, Dutch, Finnish, French, Germa...","Action, Free to Play",41282,"{'Free to Play': 17555, 'Multiplayer': 10499, ..."
3773,304930,Unturned,Smartly Dressed Games,Smartly Dressed Games,NaN,292574,31482,0,20000000,3248,217,413,92,0.0,0.0,0.0,English,"Action, Adventure, Casual, Free to Play, Indie",13879,"{'Free to Play': 15837, 'Survival': 13099, 'Zo..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14417,592350,Nvil,Digitalfossils Ltd,Digitalfossils Ltd,NaN,16,3,0,0,0,0,0,0,5999.0,5999.0,0.0,English,Animation & Modeling,0,{'Animation & Modeling': 20}
14415,592330,Roomscale Coaster,NaN,NaN,NaN,12,4,0,0,277,0,277,0,399.0,399.0,0.0,English,"Action, Casual, Sports",0,"{'Action': 21, 'Sports': 21, 'Casual': 20, 'VR..."
14414,592320,The Ruins: VR Escape the Room,Blue Entropy Studios,Blue Entropy Studios,NaN,17,9,0,0,0,0,0,0,399.0,399.0,0.0,English,"Action, Adventure, Indie, Strategy",0,"{'Action': 22, 'Adventure': 22, 'Strategy': 21..."
14413,592300,Slowdrive,onebraverobot,onebraverobot,NaN,62,4,0,0,0,0,0,0,599.0,599.0,0.0,English,"Indie, Racing",0,"{'Indie': 25, 'Racing': 24}"
29234,1069460,Rune Lord,Adept Studios GD,Alawar Entertainment,NaN,4,0,0,0,0,0,0,0,559.0,699.0,20.0,"English, French, Italian, German, Spanish - Sp...","Adventure, Casual, Indie",4,"{'Indie': 21, 'Casual': 21, 'Adventure': 20}"