In [119]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

In [120]:
# Prints 5 random samples
sample=data.sample(5)
sample

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
1810,225300,Tomb Raider II,Core Design,Square Enix,NaN,805,115,0,"500,000 .. 1,000,000",3,0,3,0,699.0,699.0,0.0,English,"Action, Adventure",26,"{'Adventure': 81, 'Action': 71, 'Female Protag..."
2220,248470,Doorways: Prelude,Saibot Studios,Saibot Studios,NaN,364,188,0,"50,000 .. 100,000",130,0,130,0,999.0,999.0,0.0,"English, Spanish - Latin America","Action, Adventure, Indie",0,"{'Horror': 68, 'Adventure': 46, 'Indie': 42, '..."
19794,741360,VR Hybrid War 2117 - VR 混合战争 2117,Timo Polvinen,Appila Oy,NaN,1,0,0,"0 .. 20,000",0,0,0,0,499.0,499.0,0.0,"English, Simplified Chinese",Action,0,"{'Action': 21, 'VR': 6}"
19765,740300,Hide N Seek VR,"Antoine Rigitano, Serge Sentis (Aerosteak), Ga...",Infiniverse,NaN,3,1,0,"0 .. 20,000",0,0,0,0,499.0,499.0,0.0,English,"Casual, Indie, Early Access",0,"{'Early Access': 21, 'Indie': 21, 'Casual': 21..."
19620,736200,Nana in the Dark,JY Games,JY Games,NaN,21,9,0,"0 .. 20,000",0,0,0,0,299.0,299.0,0.0,"English, French, Russian, Spanish - Spain, Sim...","Action, Adventure, Indie",0,"{'Action': 21, 'Adventure': 21, 'Indie': 21, '..."

In [121]:
# Checks how big our data is (columns, rows)
data.shape

(29235, 20)

In [122]:
# Shows column names
data.columns

Index(['appid', 'name', 'developer', 'publisher', 'score_rank', 'positive',
       'negative', 'userscore', 'owners', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'discount',
       'languages', 'genre', 'ccu', 'tags'],
      dtype='object')

In [123]:
data.values

array([[10, 'Counter-Strike', 'Valve', ..., 'Action', 14923,
        '{\'Action\': 2681, \'FPS\': 2048, \'Multiplayer\': 1659, \'Shooter\': 1420, \'Classic\': 1344, \'Team-Based\': 943, \'First-Person\': 799, \'Competitive\': 790, \'Tactical\': 734, "1990\'s": 564, \'e-sports\': 550, \'PvP\': 480, \'Military\': 367, \'Strategy\': 329, \'Score Attack\': 200, \'Survival\': 192, \'Old School\': 164, \'Assassin\': 151, \'1980s\': 144, \'Violent\': 40}'],
       [20, 'Team Fortress Classic', 'Valve', ..., 'Action', 87,
        '{\'Action\': 208, \'FPS\': 188, \'Multiplayer\': 172, \'Classic\': 152, \'Shooter\': 134, \'Class-Based\': 124, \'Team-Based\': 115, \'First-Person\': 109, "1990\'s": 71, \'Co-op\': 62, \'Competitive\': 48, \'Old School\': 46, \'Fast-Paced\': 39, \'Online Co-Op\': 28, \'Retro\': 27, \'Remake\': 27, \'Violent\': 26, \'Mod\': 24, \'Funny\': 20, \'Adventure\': 15}'],
       [30, 'Day of Defeat', 'Valve', ..., 'Action', 130,
        "{'FPS': 138, 'World War II': 122, 'Multiplayer': 115, 'Action': 99, 'Shooter': 95, 'War': 80, 'Team-Based': 79, 'Classic': 61, 'Class-Based': 55, 'First-Person': 50, 'Historical': 28, 'Military': 19, 'Singleplayer': 16, 'Tactical': 14, 'Co-op': 12, 'World War I': 5}"],
       ...,
       [1065650, 'Super Star Blast', 'EntwicklerX', ...,
        'Action, Casual, Indie', 0,
        "{'Action': 21, 'Indie': 21, 'Casual': 21}"],
       [1066700, 'New Yankee 7: Deer Hunters', 'Yustas Game Studio', ...,
        'Adventure, Casual, Indie', 1,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"],
       [1069460, 'Rune Lord', 'Adept Studios GD', ...,
        'Adventure, Casual, Indie', 4,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"]], dtype=object)

In [124]:
# Shows info about our columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29235 entries, 0 to 29234
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            29235 non-null  int64
 1   name             29230 non-null  object
 2   developer        29037 non-null  object
 3   publisher        28939 non-null  object
 4   score_rank       58 non-null     float64
 5   positive         29235 non-null  int64
 6   negative         29235 non-null  int64
 7   userscore        29235 non-null  int64
 8   owners           29235 non-null  object
 9   average_forever  29235 non-null  int64
 10  average_2weeks   29235 non-null  int64
 11  median_forever   29235 non-null  int64
 12  median_2weeks    29235 non-null  int64
 13  price            29206 non-null  float64
 14  initialprice     29213 non-null  float64
 15  discount         29213 non-null  float64
 16  languages        29141 non-null  object
 17  genre            29083 non-null  object
 18  ccu              29235 non-null  int64
 19  tags             29235 non-null  object
dtypes: float64(4), int64(9), object(7)
memory usage: 4.5+ MB

In [125]:
# Deletes median_2weeks, average_2weeks and userscore and score_rank
del data['median_2weeks']
del data['average_2weeks']
del data['userscore']

In [126]:
# Prints the percentage of missing data
missing_count = data.isnull().sum()

total_data=np.product(data.shape)
total_missing=missing_count.sum()
per_of_missing_data=(total_missing/total_data)* 100
print("The percent of data missing is:" ,per_of_missing_data,"%")


# Checks the non null values in column score_rank
NotNullValues = data["score_rank"].notnull()
ColumnSR = data.loc[NotNullValues,"score_rank"]
print("Amount of non null columns: ", len(ColumnSR))
del data['score_rank']

The percent of data missing is: 6.035271984627612 %
Amount of non null columns:  58

In [127]:
#Checks for duplicate data
dups = data.duplicated()
dups

0        False
1        False
2        False
3        False
4        False
         ...
29230    False
29231    False
29232    False
29233    False
29234    False
Length: 29235, dtype: bool

In [128]:
# Prints number of duplicate rows
duplicates = data.duplicated()
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [129]:
# Creating bins for 'price' column
bins = [0, 500, 1000, 5000, 10000, 60000]

# lets create lables for each bin
labels = ['Very low', 'Low', 'Medium', 'High', 'Very High']

# we will use cut function to bin
data['cost'] = pd.cut(data['price'], bins=bins, labels=labels, right=False)

# Get the list of categories
categories_list = data['cost'].cat.categories.tolist()
print(categories_list)

# Count the values in each bin
bin_counts = data['cost'].value_counts()
print(bin_counts)

['Very low', 'Low', 'Medium', 'High', 'Very High']
cost
Very low     16191
Low           7158
Medium        5667
High           165
Very High       25
Name: count, dtype: int64

In [130]:
# Creating bins for 'positive' column
bins = [0, 1000, 5000 , 8000, 10000, 20000]

# lets create lables for each bin
labels = ['Very low', 'Low', 'Medium', 'High', 'Very High']

# we will use cut function to bin
data['Popularity'] = pd.cut(data['positive'], bins=bins, labels=labels, right=False)

# Get the list of categories
categories_list = data['Popularity'].cat.categories.tolist()
print(categories_list)

# Count the values in each bin
bin_counts = data['Popularity'].value_counts()
print(bin_counts)

['Very low', 'Low', 'Medium', 'High', 'Very High']
Popularity
Very low     26889
Low           1569
Medium         228
Very High      212
High           113
Name: count, dtype: int64

In [131]:
#checking the dataframes in order

data_sorted = data.sort_values(by='price', ascending=False)  # Sort in descending order
data_sorted

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags,cost,Popularity
22822,821800,ADR-Labelling Game,Suomen Kuljetusturva Oy,Suomen Kuljetusturva Oy,1,0,"0 .. 20,000",0,0,59599.0,59599.0,0.0,"English, French, German, Finnish",Simulation,0,"{'Simulation': 39, 'Difficult': 8}",Very High,Very low
14136,585610,GameMaker Studio 2 UWP,YoYo Games Ltd.,YoYo Games Ltd.,1,0,"0 .. 20,000",0,0,39999.0,39999.0,0.0,"English, French, German, Spanish - Spain","Animation & Modeling, Design & Illustration, E...",0,"{'Game Development': 47, 'Design & Illustratio...",Very High,Very low
24970,883140,VEGAS Pro 16 Edit Steam Edition,MAGIX Software GmbH,MAGIX Software GmbH,12,7,"0 .. 20,000",0,0,39900.0,39900.0,0.0,"English, French, German, Spanish - Spain","Audio Production, Video Production",0,"{'Video Production': 22, 'Audio Production': 21}",Very High,Very low
26695,942030,Marvelous Designer 8 for Steam,CLO Virtual Fashion,CLO Virtual Fashion,4,0,"0 .. 20,000",0,0,32000.0,32000.0,0.0,"English, Japanese, Korean, Simplified Chinese","Animation & Modeling, Design & Illustration, G...",0,"{'Design & Illustration': 22, 'Game Developmen...",Very High,Very low
13602,571690,Facerig Studio for Individual Creators,Holotech Studios,Holotech Studios,2,0,"0 .. 20,000",0,0,29999.0,29999.0,0.0,"English, French, German, Spanish - Spain, Japa...","Animation & Modeling, Video Production",0,"{'Animation & Modeling': 22, 'Video Production...",Very High,Very low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22657,817520,烹饪吧！地狱土豆？！,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[],NaN,Very low
22993,827660,Feminist Cyborg Vs Last guy(gay),NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[],NaN,Very low
23638,846260,Murderous Pursuits Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[],NaN,Very low
26731,943490,Team Fortress 2008,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[],NaN,Very low
26748,944060,魔法洞穴２ The Enchanted Cave 2,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[],NaN,Very low

 Nominal Attribute
 Selected 'name', 'developer', 'publisher', 'genre', 'languages' as nominal attributes.
 These columns represent categorical information without a specific order, essential for categorization and grouping.

In [132]:
# Assuming 'name', 'developer', 'publisher', 'genre', 'languages' columns are nominal attributes
nominal_attributes_values = data[['name', 'developer', 'publisher', 'genre', 'languages']]
print("Nominal Attributes:")
print(nominal_attributes_values)

Nominal Attributes:
                             name           developer             publisher  \
0                  Counter-Strike               Valve                 Valve
1           Team Fortress Classic               Valve                 Valve
2                   Day of Defeat               Valve                 Valve
3              Deathmatch Classic               Valve                 Valve
4       Half-Life: Opposing Force    Gearbox Software                 Valve
...                           ...                 ...                   ...
29230             Room of Pandora         SHEN JIAWEI           SHEN JIAWEI
29231                   Cyber Gun      Semyon Maximov      BekkerDev Studio
29232            Super Star Blast         EntwicklerX           EntwicklerX
29233  New Yankee 7: Deer Hunters  Yustas Game Studio  Alawar Entertainment
29234                   Rune Lord    Adept Studios GD  Alawar Entertainment

                          genre  \
0                        Action
1                        Action
2                        Action
3                        Action
4                        Action
...                         ...
29230  Adventure, Casual, Indie
29231  Action, Adventure, Indie
29232     Action, Casual, Indie
29233  Adventure, Casual, Indie
29234  Adventure, Casual, Indie

                                               languages
0      English, French, German, Italian, Spanish - Sp...
1      English, French, German, Italian, Spanish - Sp...
2      English, French, German, Italian, Spanish - Spain
3      English, French, German, Italian, Spanish - Sp...
4                        English, French, German, Korean
...                                                  ...
29230  English, Japanese, Simplified Chinese, Traditi...
29231                                            English
29232                                            English
29233                   English, German, Korean, Russian
29234  English, French, Italian, German, Spanish - Sp...

[29235 rows x 5 columns]

Binary Attribute
'price' is selected for 'free_game' as it follows industry standards, where a price of 0 indicates a free game. 
This simplifies the classification, aiding in analyzing game pricing trends and user preferences.

In [133]:
# Assuming 'price' column is used to create a binary attribute for free games
data['free_game'] = data['price'].apply(lambda x: 1 if x == 0 else 0)

# Print the unique values in the binary attribute
unique_values = data['free_game'].unique()
print("Binary Attribute Unique Values:")

# Count the number of free and non-free games
free_game_counts = data['free_game'].value_counts()

# Print the result
print("\nNumber of Non-Free Games (Class 0):", free_game_counts[0])
print("Number of Free Games (Class 1):", free_game_counts[1])

Binary Attribute Unique Values:

Number of Non-Free Games (Class 0): 25583
Number of Free Games (Class 1): 3652

Ordinal Attribute
'cost' represents price ranges with ordered categories: ['Very low', 'Low', 'Medium', 'High', 'Very High'].
This allows meaningful analysis of game pricing trends, pricing strategy, and user preferences across price segments.

In [134]:
#Get the unique labels in the 'cost' column
ordinal_labels = data['cost'].cat.categories.tolist()

#Print the labels representing ordinal attributes
print("Labels representing ordinal attributes:")
print(ordinal_labels)

Labels representing ordinal attributes:
['Very low', 'Low', 'Medium', 'High', 'Very High']

In [135]:
# Extracts the "price" column
price_column = data['price']

# Fill missing values in the "price" column with the mean and convert the price column to numeric type, replacing non-numeric values
data['price'] = data['price'].fillna(data['price'].mean())
data['price'] = pd.to_numeric(data['price'], errors='coerce')

# Calculates the mean and median of the price column
mean_price = np.mean(price_column)
median_price = np.median(data['price'])

# Calculates the standard deviation and variace of the price
standard_price = np.std(price_column)
variance_price = np.var(price_column)

# Calculates the minimum and maximum point of the price
min_price = np.min(price_column)
max_price = np.max(price_column)

# Calculate the sum and product of the "price" column
sum_price = np.sum(price_column)
product_price = np.product(price_column)

# Prints min and max price in USD cents
print("Minimum price:", min_price)
print("Maximum price:", max_price)

# Prints the mean and median values of the prices
print("Mean price:", mean_price)
print("Median price:", median_price)

# Prints the standard deviation and variance of the price
print("Standard deviation of price:", standard_price)
print("Variance of price:", variance_price)

# Prints the sum and product of the price
print("Sum of price:", sum_price)
print("Product of price:", product_price)

Minimum price: 0.0
Maximum price: 59599.0
Mean price: 777.8113743751284
Median price: 499.0
Standard deviation of price: 1135.2583648446362
Variance of price: 1288811.554949717
Sum of price: 22716759.0
Product of price: 0.0

In [136]:
# Extracts positive colummn
positive_column = data['positive']

# Calculates the mean and median of the positive review column
mean_positive = np.mean(positive_column)
median_positive = np.median(positive_column)

# Calculates the standard deviation and variance of positive review number
standard_positive = np.std(positive_column)
variance_positive = np.var(positive_column)

# Calculates the min and max of positive reviews
min_positive = np.min(positive_column)
max_positive = np.max(positive_column)

# Calculates the sum and product of positive reviews
sum_positive = np.sum(positive_column)
product_positive = np.product(positive_column)

# Prints smallest and highest number of positive reviews
print("Minimum positive review:", min_positive)
print("Maximum positive review:", max_positive)

# Prints the mean of and median of the positive review numbers
print("Mean positive review:", mean_positive)
print("Median positive review:", median_positive)

# Prints the standard deviation and variance of the positive review numbers
print("Standard deviation of positive:", standard_positive)
print("Variance of positive:", variance_positive)

# Prints the sum and product of the positive reviews
print("Sum of positive reviews:", sum_positive)
print("Product of positive reviews:", product_positive)

Minimum positive review: 0
Maximum positive review: 2644404
Mean positive review: 965.4788780571233
Median positive review: 23.0
Standard deviation of positive: 18298.53550857277
Variance of positive: 334836401.7584986
Sum of positive reviews: 28225775
Product of positive reviews: 0

In [137]:
# Extracts negative colummn
negative_column = data['negative']

# Calculates the mean and median of the negative reviews column
mean_negative = np.mean(negative_column)
median_negative = np.median(negative_column)

# Calculates the standard deviation and variance
standard_negative = np.std(negative_column)
variance_negative = np.var(negative_column)

# Calculates min and max of negative reviews
min_negative = np.min(negative_column)
max_negative = np.max(negative_column)

# Calculate the sum and product of the "price" column
sum_negative = np.sum(negative_column)
product_negative = np.product(negative_column)


# Prints smallest and highest number of negative reviews
print("Minimum negative review:", min_negative)
print("Maximum negative review:", max_negative)

# Prints the mean and median of negative review numbers
print("Mean negative review:", mean_negative)
print("Median negative review:", median_negative)

# Prints the standard deviation and variance of negative review numbers
print("Standard deviation of negative:", standard_negative)
print("Variance of negative:", variance_negative)

# Prints the sum and product of the negative reviews
print("Sum of negative:", sum_negative)
print("Product of negative reviews:", product_negative)

Minimum negative review: 0
Maximum negative review: 487076
Mean negative review: 205.84672481614504
Median negative review: 8.0
Standard deviation of negative: 4132.3183085759865
Variance of negative: 17076054.6033923
Sum of negative: 6017929
Product of negative reviews: 0