In [100]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

# Prints the first 5 entries of our data
data.head(5)

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,NaN,124534,3339,0,"10,000,000 .. 20,000,000",17612,709,317,26,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,14923,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,NaN,3318,633,0,"5,000,000 .. 10,000,000",277,15,62,15,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,87,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,NaN,3416,398,0,"5,000,000 .. 10,000,000",187,0,34,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,130,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,NaN,1273,267,0,"5,000,000 .. 10,000,000",258,0,184,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,4,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,NaN,5250,288,0,"5,000,000 .. 10,000,000",624,0,415,0,499.0,499.0,0.0,"English, French, German, Korean",Action,71,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

In [101]:
# Sorts data by popularity
data.sort_values("ccu", ascending=False)

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
22,570,Dota 2,Valve,Valve,NaN,863507,142079,0,"100,000,000 .. 200,000,000",23944,1544,801,1169,0.0,0.0,0.0,"Bulgarian, Czech, Danish, Dutch, English, Finn...","Action, Free to Play, Strategy",742725,"{'Free to Play': 25176, 'MOBA': 8830, 'Strateg..."
13888,578080,PLAYERUNKNOWN'S BATTLEGROUNDS,PUBG Corporation,PUBG Corporation,NaN,496184,487076,0,"50,000,000 .. 100,000,000",22938,1011,12434,427,2999.0,2999.0,0.0,"English, Korean, Simplified Chinese, French, G...","Action, Adventure, Massively Multiplayer",733670,"{'Survival': 8360, 'Shooter': 6965, 'Multiplay..."
25,730,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,NaN,2644404,402313,0,"50,000,000 .. 100,000,000",22494,957,6502,325,0.0,0.0,0.0,"Czech, Danish, Dutch, English, Finnish, French...","Action, Free to Play",507652,"{'FPS': 20508, 'Multiplayer': 16566, 'Shooter'..."
5763,359550,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,NaN,251178,59620,0,"5,000,000 .. 10,000,000",7504,372,2543,107,1999.0,1999.0,0.0,"English, French, Italian, German, Spanish - Sp...",Action,75484,"{'FPS': 3150, 'Multiplayer': 2570, 'Tactical':..."
1889,230410,Warframe,Digital Extremes,Digital Extremes,NaN,226541,20268,0,"20,000,000 .. 50,000,000",5845,1194,394,289,0.0,0.0,0.0,"English, German, French, Italian, Korean, Span...","Action, Free to Play",64447,"{'Free to Play': 8468, 'Action': 4969, 'Co-op'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13572,570790,New Frontier Days ~Founding Pioneers~,Arc System Works,Arc System Works,NaN,7,14,0,"0 .. 20,000",0,0,0,0,999.0,999.0,0.0,"English, Simplified Chinese, Traditional Chine...",Simulation,0,"{'Simulation': 20, 'City Builder': 11, 'Single..."
2193,246980,InFlux,Impromptu Games,Impromptu Games,NaN,142,62,0,"20,000 .. 50,000",0,0,0,0,999.0,999.0,0.0,English,"Adventure, Casual, Indie",0,"{'Casual': 38, 'Indie': 36, 'Puzzle': 22, 'Adv..."
2197,247120,Portal 2 Sixense Perceptual Pack,NaN,Sixense,NaN,196,214,0,"100,000 .. 200,000",98,0,87,0,0.0,0.0,0.0,English,"Action, Adventure",0,"{'Adventure': 73, 'Action': 69, 'Free to Play'..."
13568,570690,Xmas Zombie Rampage,Chickenpig Software,Texas Interactive,NaN,6,23,0,"0 .. 20,000",0,0,0,0,999.0,999.0,0.0,English,"Nudity, Violent, Gore, Action, Indie",0,"{'Action': 33, 'Indie': 32, 'Gore': 32, 'Viole..."
14617,598240,Stupid Raft Battle Simulator,CREATIV GAME DEVELOPER LLC.,CREATIV GAME DEVELOPER LLC.,NaN,15,11,0,"0 .. 20,000",0,0,0,0,599.0,599.0,0.0,English,"Action, Casual, Indie, Simulation, Strategy, E...",0,"{'Early Access': 27, 'Simulation': 29, 'Strate..."

In [102]:
# Checks how big our data is (columns, rows)
data.shape

(29235, 20)

In [103]:
# Shows column names
data.columns

Index(['appid', 'name', 'developer', 'publisher', 'score_rank', 'positive',
       'negative', 'userscore', 'owners', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'discount',
       'languages', 'genre', 'ccu', 'tags'],
      dtype='object')

In [104]:
# Shows index labels
data.index

RangeIndex(start=0, stop=29235, step=1)

In [105]:
# Shows data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29235 entries, 0 to 29234
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            29235 non-null  int64
 1   name             29230 non-null  object
 2   developer        29037 non-null  object
 3   publisher        28939 non-null  object
 4   score_rank       58 non-null     float64
 5   positive         29235 non-null  int64
 6   negative         29235 non-null  int64
 7   userscore        29235 non-null  int64
 8   owners           29235 non-null  object
 9   average_forever  29235 non-null  int64
 10  average_2weeks   29235 non-null  int64
 11  median_forever   29235 non-null  int64
 12  median_2weeks    29235 non-null  int64
 13  price            29206 non-null  float64
 14  initialprice     29213 non-null  float64
 15  discount         29213 non-null  float64
 16  languages        29141 non-null  object
 17  genre            29083 non-null  object
 18  ccu              29235 non-null  int64
 19  tags             29235 non-null  object
dtypes: float64(4), int64(9), object(7)
memory usage: 4.5+ MB

In [106]:
# Prints 5 random samples
sample=data.sample(5)
sample

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
15880,637090,BATTLETECH,Harebrained Schemes,Paradox Interactive,NaN,8238,2953,0,"500,000 .. 1,000,000",1641,292,1653,333,3999.0,3999.0,0.0,"English, French, German, Russian","Action, Adventure, Strategy",1982,"{'Strategy': 126, 'Mechs': 124, 'Turn-Based': ..."
270,9040,QUAKE Mission Pack 1: Scourge of Armagon,Ritual Entertainment,id Software,NaN,205,13,0,"200,000 .. 500,000",129,0,152,0,299.0,299.0,0.0,English,Action,1,"{'Action': 39, 'FPS': 24, 'Shooter': 16, 'Clas..."
18886,716050,Strike Team Hydra,Wave Light Games Inc.,Wave Light Games Inc.,NaN,16,8,0,"0 .. 20,000",0,0,0,0,699.0,699.0,0.0,English,"Violent, Gore, Action, Adventure, Indie, RPG, ...",0,"{'Strategy': 24, 'Action': 23, 'Violent': 22, ..."
27450,970660,Nuclear Power Station Creator,Playloft,Playloft,NaN,9,18,0,"0 .. 20,000",0,0,0,0,999.0,999.0,0.0,"English, Russian","Indie, Strategy, Early Access",0,"{'Early Access': 23, 'Strategy': 45, 'Indie': ..."
28161,1000480,Battle Motion,Meadow Games,Meadow Games,NaN,8,2,0,"0 .. 20,000",0,0,0,0,999.0,999.0,0.0,English,"Action, Indie, RPG, Simulation, Early Access",0,"{'Early Access': 36, 'Action': 32, 'Simulation..."

In [107]:
# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

# Prints the percentage of missing data
missing_count = data.isnull().sum()

total_data=np.product(data.shape)
total_missing=missing_count.sum()
per_of_missing_data=(total_missing/total_data)* 100
print("The percent of data missing is:" ,per_of_missing_data,"%")

# Checks how big our data is (columns, rows)
#data.shape
# Prints the first 5 entries of our data
#data.head(5)

# Checks the non null values in column score_rank
b = data["score_rank"].notnull()
a = data.loc[b,"score_rank"]
print("Amount of non null columns: ", len(a))
print(a)

The percent of data missing is: 5.12998118693347 %
Amount of non null columns:  58
562      100.0
6257      95.0
9570      97.0
10906     95.0
11865     96.0
12571     94.0
12990     97.0
13167    100.0
13732    100.0
14294     94.0
14435     98.0
14811     94.0
15940    100.0
17390     96.0
17563     97.0
17564     96.0
17565     96.0
18681     94.0
18765     96.0
19157    100.0
19279     97.0
19635     93.0
21655     96.0
22884     94.0
22930     98.0
24459    100.0
25272     97.0
25437     96.0
25642     96.0
25694     95.0
25823    100.0
25898     96.0
25927     99.0
26071     97.0
26077     98.0
26173     94.0
26259     98.0
26267     97.0
26280     98.0
26311     95.0
26312     97.0
26313     96.0
26495    100.0
26539     97.0
26564     98.0
26828     95.0
27132     98.0
27208     99.0
27212    100.0
27234     97.0
27335    100.0
27355     95.0
27557     97.0
27740     99.0
28055     95.0
28267    100.0
28455    100.0
28505     96.0
Name: score_rank, dtype: float64