In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

# Prints the first 5 entries of our data
data.head(5)

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,NaN,124534,3339,0,"10,000,000 .. 20,000,000",17612,709,317,26,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,14923,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,NaN,3318,633,0,"5,000,000 .. 10,000,000",277,15,62,15,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,87,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,NaN,3416,398,0,"5,000,000 .. 10,000,000",187,0,34,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,130,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,NaN,1273,267,0,"5,000,000 .. 10,000,000",258,0,184,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,4,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,NaN,5250,288,0,"5,000,000 .. 10,000,000",624,0,415,0,499.0,499.0,0.0,"English, French, German, Korean",Action,71,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

In [3]:
# Checks how big our data is (columns, rows)
data.shape

(29235, 20)

In [4]:
# Shows column names
data.columns

Index(['appid', 'name', 'developer', 'publisher', 'score_rank', 'positive',
       'negative', 'userscore', 'owners', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'discount',
       'languages', 'genre', 'ccu', 'tags'],
      dtype='object')

In [5]:
data.values

array([[10, 'Counter-Strike', 'Valve', ..., 'Action', 14923,
        '{\'Action\': 2681, \'FPS\': 2048, \'Multiplayer\': 1659, \'Shooter\': 1420, \'Classic\': 1344, \'Team-Based\': 943, \'First-Person\': 799, \'Competitive\': 790, \'Tactical\': 734, "1990\'s": 564, \'e-sports\': 550, \'PvP\': 480, \'Military\': 367, \'Strategy\': 329, \'Score Attack\': 200, \'Survival\': 192, \'Old School\': 164, \'Assassin\': 151, \'1980s\': 144, \'Violent\': 40}'],
       [20, 'Team Fortress Classic', 'Valve', ..., 'Action', 87,
        '{\'Action\': 208, \'FPS\': 188, \'Multiplayer\': 172, \'Classic\': 152, \'Shooter\': 134, \'Class-Based\': 124, \'Team-Based\': 115, \'First-Person\': 109, "1990\'s": 71, \'Co-op\': 62, \'Competitive\': 48, \'Old School\': 46, \'Fast-Paced\': 39, \'Online Co-Op\': 28, \'Retro\': 27, \'Remake\': 27, \'Violent\': 26, \'Mod\': 24, \'Funny\': 20, \'Adventure\': 15}'],
       [30, 'Day of Defeat', 'Valve', ..., 'Action', 130,
        "{'FPS': 138, 'World War II': 122, 'Multiplayer': 115, 'Action': 99, 'Shooter': 95, 'War': 80, 'Team-Based': 79, 'Classic': 61, 'Class-Based': 55, 'First-Person': 50, 'Historical': 28, 'Military': 19, 'Singleplayer': 16, 'Tactical': 14, 'Co-op': 12, 'World War I': 5}"],
       ...,
       [1065650, 'Super Star Blast', 'EntwicklerX', ...,
        'Action, Casual, Indie', 0,
        "{'Action': 21, 'Indie': 21, 'Casual': 21}"],
       [1066700, 'New Yankee 7: Deer Hunters', 'Yustas Game Studio', ...,
        'Adventure, Casual, Indie', 1,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"],
       [1069460, 'Rune Lord', 'Adept Studios GD', ...,
        'Adventure, Casual, Indie', 4,
        "{'Indie': 21, 'Casual': 21, 'Adventure': 20}"]], dtype=object)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29235 entries, 0 to 29234
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            29235 non-null  int64
 1   name             29230 non-null  object
 2   developer        29037 non-null  object
 3   publisher        28939 non-null  object
 4   score_rank       58 non-null     float64
 5   positive         29235 non-null  int64
 6   negative         29235 non-null  int64
 7   userscore        29235 non-null  int64
 8   owners           29235 non-null  object
 9   average_forever  29235 non-null  int64
 10  average_2weeks   29235 non-null  int64
 11  median_forever   29235 non-null  int64
 12  median_2weeks    29235 non-null  int64
 13  price            29206 non-null  float64
 14  initialprice     29213 non-null  float64
 15  discount         29213 non-null  float64
 16  languages        29141 non-null  object
 17  genre            29083 non-null  object
 18  ccu              29235 non-null  int64
 19  tags             29235 non-null  object
dtypes: float64(4), int64(9), object(7)
memory usage: 4.5+ MB

In [7]:
# Prints 5 random samples
sample=data.sample(5)
sample

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
27537,974240,Detective escape1,beishizixin,beishizixin,NaN,6,3,0,"0 .. 20,000",0,0,0,0,199.0,199.0,0.0,"English, Simplified Chinese","Adventure, Casual, Indie, Simulation, Strategy",0,"{'Indie': 31, 'Casual': 31, 'Strategy': 30, 'A..."
28034,993850,Tsukumono / つくもの / 付者,shinryu,shinryu,NaN,13,1,0,"0 .. 20,000",0,0,0,0,499.0,499.0,0.0,"English, Japanese, Simplified Chinese","Action, Casual, Indie",0,"{'Action': 23, 'Indie': 21, 'Casual': 21, 'Ani..."
26671,941320,Mariner Accident,Accident Games Studio,Accident Games Studio,NaN,9,1,0,"0 .. 20,000",0,0,0,0,99.0,99.0,0.0,English,"Action, Adventure, Casual, Indie, RPG",0,"{'Action': 32, 'Indie': 32, 'Gore': 32, 'Viole..."
18821,714080,BLACK CLOVER: QUARTET KNIGHTS,"ILINX, Inc.",BANDAI NAMCO Entertainment,NaN,92,38,0,"0 .. 20,000",0,0,0,0,4999.0,4999.0,0.0,"English, French, Italian, German, Spanish - Sp...",Action,3,"{'Action': 32, 'Anime': 21, 'Fighting': 9, 'Mu..."
5058,342530,Heroes Never Lose: Professor Puzzler's Perplex...,Magic Pants,Spearhead,NaN,64,9,0,"0 .. 20,000",0,0,0,0,899.0,899.0,0.0,"English, French, Spanish - Spain","Action, Casual, Indie, Early Access",0,"{'Early Access': 21, 'Indie': 33, 'Action': 32..."

In [8]:
# Imports our data files
data = pd.read_csv("steamspy_data.csv")
data2 = pd.read_csv("app_list.csv")

# Prints the percentage of missing data
missing_count = data.isnull().sum()

total_data=np.product(data.shape)
total_missing=missing_count.sum()
per_of_missing_data=(total_missing/total_data)* 100
print("The percent of data missing is:" ,per_of_missing_data,"%")

# Checks how big our data is (columns, rows)
#data.shape
# Prints the first 5 entries of our data
#data.head(5)

# Checks the non null values in column score_rank
b = data["score_rank"].notnull()
a = data.loc[b,"score_rank"]
print("Amount of non null columns: ", len(a))
print(a)

The percent of data missing is: 5.12998118693347 %
Amount of non null columns:  58
562      100.0
6257      95.0
9570      97.0
10906     95.0
11865     96.0
12571     94.0
12990     97.0
13167    100.0
13732    100.0
14294     94.0
14435     98.0
14811     94.0
15940    100.0
17390     96.0
17563     97.0
17564     96.0
17565     96.0
18681     94.0
18765     96.0
19157    100.0
19279     97.0
19635     93.0
21655     96.0
22884     94.0
22930     98.0
24459    100.0
25272     97.0
25437     96.0
25642     96.0
25694     95.0
25823    100.0
25898     96.0
25927     99.0
26071     97.0
26077     98.0
26173     94.0
26259     98.0
26267     97.0
26280     98.0
26311     95.0
26312     97.0
26313     96.0
26495    100.0
26539     97.0
26564     98.0
26828     95.0
27132     98.0
27208     99.0
27212    100.0
27234     97.0
27335    100.0
27355     95.0
27557     97.0
27740     99.0
28055     95.0
28267    100.0
28455    100.0
28505     96.0
Name: score_rank, dtype: float64

In [18]:

dups = data.duplicated()
dups

0        False
1        False
2        False
3        False
4        False
         ...
29230    False
29231    False
29232    False
29233    False
29234    False
Length: 29235, dtype: bool

In [24]:
duplicates = data.duplicated()
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0